    <a href="{{ path('admin_infoscompany') }}" class="btn btn-default">{{ "Company settings"|trans }}</a>
    <a href="{{ path('admin_infosite') }}" class="btn btn-default">{{ "Website settings"|trans }}</a>
    <a href="{{ path('admin_infositemetas') }}" class="btn btn-default">{{ "Website Meta tags"|trans }}</a>
    <a href="{{ path('admin_infositelinks') }}" class="btn btn-default">{{ "Website Media links"|trans }}</a>
