{% extends '@Shop/layout.html.twig' %}
{% trans_default_domain 'contact' %}
{% block title %}{{ 'Verification'|trans }}{% endblock %}


{% block page_content -%}
    <body bgcolor="#FFFFFF">
        <div class="container">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h2>{{ 'Verification'|trans }}</h2>
                <div class="col-md-12 text-center well">
                    <a href="http://{{ app.request.getSchemeAndHttpHost() }}">
                        {% if file_exists(app.request.server.get('DOCUMENT_ROOT') ~  '/site/images/logo.png') %}
                            <div class="col-md-6">
                                <img src="{{ asset('site/images/logo.png') }}" width="40%" style="background: #fff;">
                            </div>
                            <div class="col-md-6">
                                <h4>{{ app.request.getSchemeAndHttpHost() }}</h4>
                            </div>
                        {% else %}
                            <h4>{{ app.request.getSchemeAndHttpHost() }}</h4>
                        {% endif %}
                    </a>
                </div> 
            </div>
            <div class="col-md-1"></div>
        </div>     
    <!-- HEADER -->
    
        <div class="container">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h4>{{ entity.title|capitalize }} {{ entity.firstname|capitalize }} {{ entity.lastname|upper }}</h4> 
                <h6>{{ 'Here is the information'|trans }} {{ 'Please, check all information and click on Submit'|trans }}</h6>
              
                <div class="row">
                    <div class="col-md-12">
                        <div class="btn-group">
                            <a href="{{ path('quotation_verify', {'id': entity.id} ) }}?verify=y" class="btn btn-info">{{ 'Submit'|trans }}</a>
                            <a href="{{ path('index_main') }}" class="btn btn-danger">{{ 'Cancel'|trans }}</a>
                        </div>
                    </div>
                </div>
                    
                <div class="row">
                    <div class="col-md-4">
                        {{ 'E-mail'|trans }}
                    </div>
                    <div class="col-md-8">
                        {{ entity.email|upper }}
                    </div>
                </div>
                    

                {% if entity.namets != "" %}
                    <div class="row">
                        <div class="col-md-4">
                            {{ 'Company'|trans }}
                        </div>
                        <div class="col-md-8">
                            {{ entity.namets|upper }}
                        </div>
                    </div>
                {% endif %}   

                {% if entity.phone != "" %}
                    <div class="row">
                        <div class="col-md-4">
                            {{ 'Phone'|trans }}
                        </div>
                        <div class="col-md-8">
                            {{ entity.phone }}
                        </div>
                    </div>
                {% endif %}   
                
                {% if entity.zipcode != "" or  entity.city != "" or  entity.country != "" %}
                    <div class="row">
                        <div class="col-md-4">
                            {{ 'Address'|trans }}
                        </div>
                        <div class="col-md-8">
                            {% if entity.city != "" %}
                                {{ entity.zipcode }},  
                            {% endif %}    
                            {% if entity.city != "" %}
                                {{ entity.city }}, 
                            {% endif %}    
                            {% if entity.country != "" %}
                                {{ entity.country }}
                            {% endif %}   
                        </div>
                    </div>
                {% endif %}   
                <div class="row">
                    <div class="col-md-4">
                        {{ 'Type and language of site'|trans }}
                    </div>
                    <div class="col-md-8">
                        {{ entity.typesite|capitalize }} ({{ entity.lang|upper }})
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        {{ 'Budget'|trans }}
                    </div>
                    <div class="col-md-8">
                        {{ entity.budget }} {{ entity.currency|upper }}
                    </div>
                </div>
                {% if entity.web != "" %}  
                    <div class="row">
                        <div class="col-md-4">
                            {{ 'Website'|trans }}
                        </div>
                        <div class="col-md-8">
                            <a href="{{ entity.web }}">{{ entity.web }}</a>
                        </div>
                    </div>
                {% endif %} 
                {% if entity.webmodel != "" %}    
                    <div class="row">
                        <div class="col-md-4">
                            {{ 'On the model of'|trans }}
                        </div>
                        <div class="col-md-8">
                            <a href="{{ entity.webmodel }}">{{ entity.webmodel }}</a>
                        </div>
                    </div>  
                {% endif %} 

                <div class="row">
                    <div class="col-md-12">
                        <p>{{ 'More on this project'|trans }}</p>
                        <p>{{ entity.project }}</p>
                    </div>
                </div>
              
                <div class="row">
                    <div class="col-md-12">
                        <div class="btn-group">
                            <a href="{{ path('quotation_verify', {'id': entity.id} ) }}?verify=y" class="btn btn-info">{{ 'Submit'|trans }}</a>
                            <a href="{{ path('index_main') }}" class="btn btn-danger">{{ 'Cancel'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
                    <div class="col-md-1">
                        
                    </div>
        </div>

{% endblock page_content -%}
