{% extends '@Admin/adminLayout.html.twig' %}
{% trans_default_domain 'admin' %}
{% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
  <!-- bootstrap wysihtml5 - text editor -->
  <link rel="stylesheet" href="{{ asset('bundles/shop/AdminLTE/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css') }}">
  <link rel="stylesheet" href="{{ asset('bundles/shop/AdminLTE/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.css') }}">
 
    <style>
	#log{
		margin-top:10px;
		border:#000 1px solid;
		width:100%;
                height:200px;
		max-height:200px;
		overflow:auto;
		font:12px Courier;
		padding:5px;
	}
</style>
{% endblock stylesheets %}
{% block page_content -%}
    <h3>{{ 'Email Data edit'|trans }}</h3>
    <div class="btn-group">
        <a href="{{ path('admin_email_data') }}" class="btn btn-default">{{ 'Back to the list'|trans }}</a>
        <a href="{{ path('admin_email_data_show', { 'id': entity.id }) }}" class="btn btn-default">{{ 'view'|trans }}</a>
        <a href="{{ path('admin_email_data_new') }}" class="btn btn-default">{{ 'add'|trans }}</a>
    </div>

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success" role="alert">
            {{ flashMessage }}
        </div>
    {% endfor %}
    
    {{ form_start(edit_form) }}

    <table class="table table-responsive">
        <tr>
            <th>
                <div class="col-md-3">
                    <i class="fa fa-calendar"></i> {{ 'Date'|trans }}
                </div>
                <div class="col-md-3">
                    <i class="fa fa-check-square-o"></i> {{ 'Cheched'|trans }} = {{ 'Enable'|trans }}
                </div>
                <div class="col-md-3">
                    <i class="fa fa-check-square-o"></i> {{ 'Cheched'|trans }} = {{ 'Pro'|trans }}
                </div>
                <div class="col-md-3">
                    <i class="fa fa-flag-o"></i> {{ 'Language'|trans }}
                </div>
            </th>
        </tr>
        
        <tr>
            <td>
                <div class="col-md-3">
                    {{ form_widget(edit_form.date, {'attr': {'class': 'col-md-12'} }) }}
                </div>
                <div class="col-md-3">
                    {{ form_widget(edit_form.enable, {'attr': {'class': 'col-md-12'} }) }}
                </div>
                <div class="col-md-3">
                    {{ form_widget(edit_form.typecompte, {'attr': {'class': 'col-md-12'} }) }}
                </div>
                <div class="col-md-3">
                    {{ form_widget(edit_form.lang, {'attr': {'class': 'col-md-12'} }) }}
                </div>
            </td>
        </tr>
        <tr>
            <th>
                <div class="col-md-6">
                    <i class="fa fa-institution"></i> {{ 'Name of company'|trans }}
                </div>
                <div class="col-md-2">
                    <i class="fa fa-tree"></i> {{ 'Activity'|trans }}
                </div>
                <div class="col-md-2">
                    <i class="fa fa-pagelines"></i> {{ 'Type'|trans }}
                </div>
                <div class="col-md-2">
                    <i class="fa fa-leaf"></i> {{ 'Sector'|trans }}
                </div>
            </th>
        </tr>
        <tr>
            <td>
                <div class="col-md-6">
                    {{ form_widget(edit_form.namets, {'attr': {'class': 'col-md-12'} }) }}
                </div>
                <div class="col-md-2">
                    {{ form_widget(edit_form.activity, {'attr': {'class': 'col-md-12'} }) }}
                </div>
                <div class="col-md-2">
                    {{ form_widget(edit_form.typactivity, {'attr': {'class': 'col-md-12'} }) }}
                </div>
                <div class="col-md-2">
                    {{ form_widget(edit_form.sector, {'attr': {'class': 'col-md-12'} }) }}
                </div>
            </td>
        </tr>
        <tr>
            <th>
                <div class="col-md-3">
                    <i class="fa fa-female"></i> <i class="fa fa-male"></i> {{ 'Gender'|trans }}
                </div>
                <div class="col-md-3">
                    {{ 'Firstname'|trans }}
                </div>
                <div class="col-md-3">
                    {{ 'Lastname'|trans }}
                </div>
                <div class="col-md-3">
                    <i class="fa fa-envelope-o"></i> {{ 'Email'|trans }}
                </div>
            </th>
        </tr>
        
        <tr>
            <td>
                <div class="col-md-3">
                    {{ form_widget(edit_form.gender, {'attr': {'class': 'col-md-12'} }) }}
                </div>
                <div class="col-md-3">
                    {{ form_widget(edit_form.firstname, {'attr': {'class': 'col-md-12'} }) }}
                </div>
                <div class="col-md-3">
                    {{ form_widget(edit_form.lastname, {'attr': {'class': 'col-md-12'} }) }}
                </div>
                <div class="col-md-3">
                    {{ form_widget(edit_form.email, {'attr': {'class': 'col-md-12'} }) }}
                </div>
            </td>
        </tr>
        <tr>
            <th>
                <div class="col-md-3">
                    <i class="fa fa-map-marker"></i> {{ 'Address'|trans }}
                </div>
                <div class="col-md-3">
                    <i class="fa fa-map-marker"></i> {{ 'Postal code'|trans }}
                </div>
                <div class="col-md-3">
                    <i class="fa fa-map-marker"></i> {{ 'City'|trans }}
                </div>
                <div class="col-md-3">
                    <i class="fa fa-map-marker"></i> {{ 'Country'|trans }}
                </div>
            </th>
        </tr>
        
        <tr>
            <td>
                <div class="col-md-3">
                    {{ form_widget(edit_form.address, {'attr': {'class': 'col-md-12'} }) }}
                </div>
                <div class="col-md-3">
                    {{ form_widget(edit_form.zipcode, {'attr': {'class': 'col-md-12'} }) }}
                </div>
                <div class="col-md-3">
                    {{ form_widget(edit_form.city, {'attr': {'class': 'col-md-12'} }) }}
                </div>
                <div class="col-md-3">
                    {{ form_widget(edit_form.country, {'attr': {'class': 'col-md-12'} }) }}
                </div>
            </td>
        </tr>
        <tr>
            <th>
                <div class="col-md-3">
                    <i class="fa fa-phone"></i> {{ 'Phone'|trans }}
                </div>
                <div class="col-md-3">
                    <i class="fa fa-mobile"></i> {{ 'Mobile'|trans }}
                </div>
                <div class="col-md-3">
                    <i class="fa fa-fax"></i> {{ 'Fax'|trans }}
                </div>
                <div class="col-md-3">
                    <i class="fa fa-link"></i> {{ 'Web'|trans }}
                </div>
            </th>
        </tr>
        
        <tr>
            <td>
                <div class="col-md-3">
                    {{ form_widget(edit_form.phone, {'attr': {'class': 'col-md-12'} }) }}
                </div>
                <div class="col-md-3">
                    {{ form_widget(edit_form.mobile, {'attr': {'class': 'col-md-12'} }) }}
                </div>
                <div class="col-md-3">
                    {{ form_widget(edit_form.fax, {'attr': {'class': 'col-md-12'} }) }}
                </div>
                <div class="col-md-3">
                    {{ form_widget(edit_form.web, {'attr': {'class': 'col-md-12'} }) }}
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="col-md-6"></div>
                <div class="col-md-6">
                    <input type="submit" value="{{ 'Save'|trans }}" class="col-md-12 btn btn-warning"/>
                </div>
            </td>
        </tr>
    </table>

    {{ form_rest(edit_form) }}
    {{ form_end(edit_form) }}

    <br>
    <div class="col-md-10 col-md-offset-2">
        <ul class="list-group">
            <li class="list-group-item">
                {% include "@Admin/Partials/Includes/Modals/deleteConfirm.html.twig" %}
                {{ form_start(delete_form) }}
                {{ form_widget(delete_form) }}
                <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#confirmDelete" data-title="{{ 'Delete'|trans }} {{ entity.namets }}" data-message="{{ 'Are you sure to delete this data'|trans }} ?">
                    <i class="fa fa-trash"></i> {{ 'Delete'|trans }}
                </button>
                    &nbsp;&nbsp;<span class="text-danger"><strong>{{ 'Warning'|trans }} !</strong> {{ 'Removing these data will be irreversible'|trans }}.</span>
                {{ form_end(delete_form) }}
            </li>
        </ul>
    </div>
{% endblock page_content %}

