{% extends "::admin.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    {{ render(controller('ShopBundle:Infosgeneral:adminstyle')) }}
    <link href="{{ asset('font-awesome/css/font-awesome.css') }}" media="all" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('flag-icon-css/css/flag-icon.css') }}" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Noto+Serif:400,700" type="text/css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet" />
{% endblock stylesheets %}

{% block body %}
    {% include "@Admin/Partials/admin-menu-simple-top.html.twig" %}
            <br><br><br>
    <div class="container-fluid">
        {% block page_content %}
        {% endblock page_content %}
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{{ asset('bootstrap/3.3.7/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/shop/js/bootbox.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
    <script>
        $('body .dropdown-toggle').dropdown(); 
    </script>
{% endblock %}
