{% trans_default_domain 'admin' %}
<nav class="navbar navbar-inverse navbar-static-top marginBottom-0" role="navigation">
    <div class="wrapper">
        <header class="main-header" style="color: #fff;">
            <!-- Logo -->
            <a href="{{ path('admin_index') }}" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>E</b>LA</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Eshop</b>Admin</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="{{ path('index_main') }}"><b><i class="fa fa-home"></i> {{ 'Eshop'|trans }}</b></a>
                        </li>
                        <li>
                            <a href="{{ path('user_profile_edit') }}" target="_blank"><i class="fa fa-user"></i> {{ app.user.username|upper }} &nbsp;&nbsp;&nbsp;</a>
                        </li>
                        <li>
                            <a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out"></i>  {{ 'Logout'|trans }}</a>
                        </li>
                        <li>
                          <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
    </div> 
</nav>
<br><br>
